:root {
  --color-background: #1864ab;
  --color-primary: #228be6;
  --color-white: #f8f9fa;
  --color-black: #212529;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: var(--color-background);
  font-family: sans-serif;
}
.navbar {
  position: relative;
  height: 95vh;
  background-color: var(--color-primary);
  width: 5%;
  border-radius: 3rem;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  transition: width 0.2s;
  padding: 2.4rem 0;
  overflow: hidden;
  &__fill-icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--color-white);
    flex: 0 0 3.2rem;
  }
  &__icon {
    fill: none;
    stroke: var(--color-white);
    width: 3.2rem;
    height: 3.2rem;
    z-index: 10;
    flex: 0 0 3.2rem;
    &-text {
      color: var(--color-white);
      z-index: 10;
    }
    &--hover-after {
      position: absolute;
      height: 100%;
      width: 1rem;
      background-color: var(--color-white);
      right: 0;
      opacity: 0;
      // transition: all 0.5s;
      z-index: 1;
      &::after,
      &::before {
        content: "";
        width: 100%;
        height: 1.12rem;
        background-color: var(--color-primary);
        // background-color: red;
        display: block;
        position: absolute;
        right: 0;
      }
      &::after {
        top: 0;
        border-bottom-right-radius: 30rem;
      }
      &::before {
        bottom: 0;
        border-top-right-radius: 30rem;
      }
    }
    &--hover {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 65%;
      background-color: var(--color-white);
      border-top-left-radius: 30rem;
      border-bottom-left-radius: 30rem;
      left: 1rem;
      opacity: 0;
      // transition: all 0.5s;
    }
    &-box {
      cursor: pointer;
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding-left: 2rem;
      &:not(:last-of-type) {
        padding-bottom: 3.2rem;
      }
      &:hover .navbar__icon--hover {
        opacity: 1;
      }
      &:hover .navbar__icon--hover-after {
        opacity: 1;
      }
      &:hover .navbar__icon {
        stroke: var(--color-primary);
      }
      &:hover .navbar__icon-text {
        color: var(--color-primary);
      }
    }
  }
  &__menu {
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--color-white);
    border-radius: 50%;
    position: absolute;
    bottom: 1rem;
    right: 1.2rem;
    cursor: pointer;
    z-index: 2;
    &--btn {
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 100;
      position: relative;
    }
    &--btn:checked ~ &--line {
      transform: rotate(405deg);
      top: 50%;
      left: 20%;
      animation: rotate 1s 0.2s;
      &::before {
        transform: rotate(-810deg);
        bottom: 0rem;
        left: 0%;
      }
    }
    &--line {
      width: 60%;
      height: 0.3rem;
      background-color: var(--color-black);
      display: inline-block;
      position: absolute;
      bottom: 33.3333%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10rem;
      cursor: pointer;
      transition: all 0.5s;
      &::before {
        content: "";
        width: 100%;
        height: 0.3rem;
        background-color: var(--color-black);
        display: inline-block;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10rem;
        transition: all 0.5s;
      }
    }
  }
}
.navbar__icon-fill-text {
  color: var(--color-white);
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
